div[releve-card] {
    width: 100%;
}

/*##############   Flip animation   ################*/

.content {
    width: 900px;
    margin: 0 auto;
}


/*###################   Bouton d'ajout   ###################*/
.addReleveButton {
    width: 30px;
    height: 30px;
    background: #aaaaaa;
}