div[releve-card] {
    width: 100%;
}

body {
    background-color: #37474f;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.content {
    width: 900px;
    margin: 0 auto;
}


/*###################   Bouton d'ajout   ###################*/
.addReleveButton {
    width: 30px;
    height: 30px;
    background: #aaaaaa;
}