.releves-list {
    padding: 8px;
    min-width: 840px;
    width: 850px;
}

.releve-card {
    margin: 5px;
    display: block;
    position: relative;
    width: 100%;
    color: black;
    padding: 10px;
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 0 0 #222;
    font-family: 'Roboto-Light', 'Roboto-Regular', sans-serif;
}

.releve-card:hover {
    background-color: #009688;
    color: white;
}

.unactive {
    background-color: #964444;
}

.date {
    padding: 0 5px;
}

.amount {
    padding: 0 5px;
    width: 60px;
    float: right;
    text-align: center;
}