@()

<div id="addReleveForm">
    <form id="myForm" name="addReleveForm" ng-submit="addReleve()">
        <input id="date" type="date" name="date" ng-model="form.date" placeholder="Date..."/>
        <input id="amount" type="number" name="amount" ng-model="form.amount" placeholder="Amount..."/>
        <input id="description" type="text" name="description" ng-model="form.description"
        placeholder="Description"/>
        <label for="debit">Debit</label>
        <input id="debit" type="checkbox" name="debit" ng-model="form.debit" class="mdl-switch__input" checked />
        <label class="">
            <select id="category" name="category" ng-model="form.category">
                @for(category <- Categories.getAll){
                    <option value="@category">@category</option>
                }
            </select>
        </label>
        <button id="submitter" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Go!
        </button>
    </form>
</div>